* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    /* background-color: rgb(189, 230, 233); */

    /* background-color: rgb(67, 67, 170); */
    /* border-radius: 5px; */
    font-size: 18px;
}

.home {
    height: 100vh;
    background-color: black;
    position: relative;
    display:flex;
    margin: 0;
    padding: 0;
}

video {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 23%;
    height: 100%;
    position: relative;
    /* margin-left: 1rem;
    margin-top: auto;
    margin-bottom: 17px; */
    margin: auto 3px;
    /* background: rgba(252, 252, 252, 0.795); */
    z-index: 3;
    border-radius: 10px;
    /* border: 3px solid white; */
    /* background-color: grey; */
    border-bottom: 3px solid rgb(67, 67, 170);
}

.navbartop {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px auto;
    width: 100%;
    margin: auto;
    color: white;
    /* background-color: rgb(39, 39, 46); */
    /* background-color: grey; */
    /* background-color: rgb(67, 67, 170); */
    /* background-color: rgb(12, 12, 55); */
    background-color: rgb(67, 67, 170);
    /* border-bottom: 3px solid grey; */
    /* border: 3px solid black; */
    border: 3px solid grey;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 26%;
}

.playlist {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    /* margin-top: 7%; */
    height: 100vh;
    overflow-y: auto;
    /* border: 3px solid white; */
    /* margin-top: 20px; */
    border-radius: 5px;
    /* background: rgba(252, 252, 252, 0.795); */
    /* background-color: rgb(39, 39, 46); */
    background-color: rgb(17, 16, 16);

}

.subheader {
    display: flex;
    padding-top: 0px;
    /* background-color: rgb(39, 39, 46); */
    color: white;
    height: auto;
    width: 100%;
    /* border-top: 3ps solid black; */
    /* border-radius: 0px; */
    /* margin-bottom: 10px; */
    /* border: 10px solid black; */
    background-color: rgb(17, 16, 16);

}

.btnbar {
    display: flex;
    align-items: center;
    padding: 10px;
    /* height: 100%; */
    
    /* background-color: rgb(39, 39, 46); */
    /* background-color: grey; */
    /* background-color: rgb(67, 67, 170); */
    /* background-color: rgb(12, 12, 55); */
    background-color: rgb(67, 67, 170);
    border-radius: 3px; 
    color: white;
    font-size: 17px;
}

.btnsub {
    display: flex;
    align-items: center;
    padding: 10px;
    /* height: 100%; */
    
    /* background-color: rgb(39, 39, 46); */
    /* background-color: grey; */
    /* background-color: rgb(67, 67, 170); */
    border-radius: 3px;
    color: white;
    font-size: 17px;
}

.btnhead {
    width: 100%;
    /* border: 0.1em solid white; */
    /* border-top: 1px solid rgb(67, 67, 170);
    border-bottom: 1px solid rgb(67, 67, 170); */
    /* background-color: #000; */
    /* background-color: rgb(67, 67, 170); */
    margin-bottom: 3px;
    
}

.btnhead .iconspacing {
    background-color: #000;
    /* background-color: rgb(67, 67, 170); */
}

.iconspacing {
    margin: 10px;
    /* background-color: rgb(39, 39, 46); */
    /* background-color: rgb(67, 67, 170); */
    /* background-color: rgb(12, 12, 55); */
    background-color: rgb(67, 67, 170);
}

.iconright {
    position: absolute;
    right: 0;
}

.create {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}

.liked {
    /* background-color: rgb(67, 67, 170); */
    margin: 2px auto;
    background-color: grey;
    font-size: 13px;
    border-radius: 5px;
    height: 50px;
}


/* ******************************* */

.songs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 54%;
    /* height: 100vh; */
        height: 100%;
    position: relative;
    margin: auto 1px;
    /* margin-bottom: 17px; */
    /* background-color: rgb(39, 39, 46); */
    /* background-color: rgb(67, 67, 170); */
    z-index: 3;
    /* background: transparent; */
    /* opacity: 0.9; */
    border-radius: 5px;
    border: 3px solid white;
    border-bottom: 3px solid rgb(67, 67, 170);
    /* background-color: rgb(29, 28, 28); */

    
}

.carousel {
    height: 41%;
    width: 80%;
    margin: 1%;
    background-color: white;
    border: 1px solid black;
}

.carousel-item img {
    height: 200px;
}


.search input{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    border: 2px solid black;
}

.playpause {
    height: 25%;
    /* border-radius: 10px; */
    width: 100%;
    /* background-color: blueviolet; */
    /* background-color: rgb(67, 67, 170); */
    /* background-color: rgb(26, 26, 186); */
    background: transparent;
    color: white;
    text-align: center;
    border-bottom: 3px solid grey;
    /* visibility: hidden; */
}

.name {
    /* background-color: white; */
    /* background-color: rgb(67, 67, 170); */
    /* color: white; */
    /* color: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    /* font-family: 'Great Vibes', cursive; */
    font-family: 'Kalam', cursive;
    font-size: 100%;
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Pacifico', cursive; */
}

.bottom {
    position: sticky;
    bottom: 0;
    /* border: 3px solid white;
    border-radius: 5px; */
    /* height: 130px; */
    /* background-color: rgb(67, 67, 170); */
    /* background-color: rgb(12, 12, 55); */
    background-color: rgb(17, 16, 16);
        /* background: rgba(252, 252, 252, .795); */
        /* background: transparent; */


    /* background-color: blue; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 75%;
}

.progressBar {
    /* accent-color: white; */
    accent-color: rgb(67, 67, 170);
    height: 1.5px;
}

.timebar {
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    align-items: center;
    /* background-color: rgb(67, 67, 170); */
    /* background-color: rgb(12, 12, 55); */
    background-color: rgb(17, 16, 16);
    width: 95%;
    height: 20px;
    border-radius: 4px;
    bottom: 0;
    position: absolute;
    margin: 11px;
}

.icons {
    width: 95%;
    /* background-color: aqua; */
    /* background-color: rgb(67, 67, 170); */
    /* background-color: rgb(12, 12, 55); */
    background-color: rgb(17, 16, 16);
    /* margin-bottom: 1px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    /* background-color: white; */
}

.icons .fas {
    /* background-color: aqua; */
    /* background-color: rgb(67, 67, 170); */
    /* background-color: rgb(12, 12, 55); */
    background-color: rgb(17, 16, 16);

    margin: auto 9px;
    /* color: #000; */
    /* color: rgb(246, 231, 231); */
    color: rgb(67, 67, 170);;
    font-size: 30px;
    
    /* color: rgb(67, 67, 170); */
    
}

#timerstart {
    font-size: 12px;
    /* background-color: aqua; */
    /* background-color: rgb(12, 12, 55); */
    background-color: rgb(17, 16, 16);
    margin: 5px;
    /* color: black; */
    color: rgb(246, 231, 231);
    border-end-end-radius: 4px;
    border-start-end-radius: 4px;
}

#timerend {
    font-size: 12px;
    /* background-color: aqua; */
    /* background-color: rgb(12, 12, 55); */
    background-color: rgb(17, 16, 16);
    margin: 5px;
    /* color: black; */
    color: rgb(246, 231, 231);
    border-end-end-radius: 4px;
    border-start-end-radius: 4px;
}

#myProgressBar{
    display: flex;
    width: 100%;
    background-color: grey; 
    cursor: pointer;
}

.volumebar {
    position: absolute;
    right: 0;
    width: 30%;
    display: flex;
    margin-right: 2%;
    /* justify-content: center; */
    justify-content: center;
    flex-direction: row;
    align-items: center;
    /* background-color: rgb(12, 12, 55) */
    background-color: rgb(17, 16, 16);

}

#myVolumeBar{
    /* display: flex; */
    width: 40%;
    background-color: white; 
    /* accent-color: white; */
    accent-color: rgb(67, 67, 170);
    height: 2px;
    cursor: pointer;
    right: 0;
    position: absolute;
    margin: 4%;
}

.volumeicon {
    /* background-color: white; */
    margin-right: 5px;
    /* background-color: rgb(12, 12, 55) */
    background-color: rgb(17, 16, 16);
    color: rgb(67, 67, 170);;

}

.songssection {
    /* display: flex; */
    border: 2px solid #000;
    /* background-color: rgb(29, 28, 28); */
    background-color: rgb(17, 16, 16);

    padding: 15px;
    height: 100%;
    width: 100%;
    /* background-color: rgb(67, 67, 170); */
    overflow-y: auto;
    /* background-color: grey; */
    /* background-color: whitesmoke; */
}

.helo {
    /* background-color: rgb(29, 28, 28); */
    background-color: rgb(17, 16, 16);


}

.h-100 {
    background-color: rgb(10,10,10);
    /* background-color: aqua; */
    /* border-radius: 4px; */
    /* border: px solid white; */
    /* border-radius: 20px; */
}


.cardcontent {
    margin-bottom: 20px;
    /* background-color: rgb(29, 28, 28); */
    /* background-color: rgb(32, 32, 66) */
    background-color: rgb(17, 16, 16);
    /* background-color: white; */
}



/* .rowcontent {
    background-color: grey;
} */

.song-info {
    background-color: rgb(67, 67, 170);
    border: 0px solid white;
    border-radius: 5px;
    text-align: center;
    margin: 1px;
    color: white;
    height: 60px;
}

.music-name {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgb(13,13,13);
}

.duration {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    font-size: 13px;
    background-color: rgb(67, 67, 170);
}

.card-img-top {
    /* border: 2px solid white; */
    padding: 10px;
    /* background-color: rgb(67, 67, 170); */
    /* border-radius: 10px; */
    background-color: rgb(13, 13, 13);
}



/* ******************************* */

.playsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
    height: 100%;
    position: relative;
    margin: auto 1px;
    /* margin-bottom: 17px; */
    background-color: black;
    z-index: 3;
    border-radius: 10px;
    /* border: 3px solid white; */
    border-bottom: 3px solid rgb(67, 67, 170);
}

.playsectiontop {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 20%;
    width: 100%;
    border: 3px solid grey;
    /* background-color: grey; */
    /* background-color: rgb(67, 67, 170); */
    /* background-color: rgb(12, 12, 55) */
    background-color: rgb(67, 67, 170);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
/* font-family: 'Great Vibes', cursive; */
/* font-family: 'Kalam', cursive; */
font-family: 'Lobster', cursive;
/* font-family: 'Pacifico', cursive;  */
font-size: 30px;

}

.photo {
    display: flex;
    /* align-items: center; */
    /* height: 55vh; */
    width: 100%;
    height: 80%;
    /* margin: 1%; */
    /* margin-top: 5%; */
    /* background-color: green; */
    /* border: 3px solid white; */
    
} 

.photo img {
    align-items: center;
    height: 70%
}





/* **************** */

/* .playpause {
    margin: 0;
    padding: 0;
    height: 11vh;
    background-color: rgb(24, 22, 64);
} */